{% extends 'base.html.twig' %}



{% block body %}
    {{titre}}

    <table class="table">
        <tr>
            <th>Grade</th>
            <th>Nom Complet</th>
        </tr>
        {% for prof in professeurs %}
            <tr>
                <td>{{ prof.nonComplet }}</td>
                <td>{{ prof.grade }}
                {# <td>{{ prof.classe }} #}
            </tr>
        {% endfor %}
    </table
{% endblock %}
